@font-face {
  font-family: "mon-bold";
  src: url("../fonts/Montserrat-Bold.ttf"); }

@font-face {
  font-family: "airbag";
  src: url("../fonts/AirbagFree-Regular.ttf"); }

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: "OpenSans-Extrabold";
  src: url("../fonts/sans-extr.ttf"); }

@font-face {
  font-family: "mon-reg";
  src: url("../fonts/Montserrat-Regular.ttf"); }

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; }

body {
  padding: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
    overflow-x-margin: 0;
    overflow-x-display: block; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
    padding-margin: 0;
    padding-font-style: normal;
  font-weight: normal; }

a {
  outline: none;
  text-decoration: none; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  color: #e8e8e8; }

section {
  margin: 0;
  max-width: 1160px;
  margin: 0 auto;
  height: auto; }

.banner {
  background: url("../img/head-bg.png") no-repeat center top;
  height: 750px;
  width: auto;
  background-attachment: relative;
  background-position: center center; }

.title {
  font-family: "airbag";
  font-size: 48px;
  text-transform: uppercase;
  padding-left: 20px;
  /*menu*/ }

nav {
  z-index: 10; }

.bt-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #333;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s; }

.bt-menu.bt-menu-open {
  height: 100%;
  border-width: 0px 190px 50px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s; }

.bt-menu-trigger {
  position: fixed;
  top: 47px;
  right: 50px;
  z-index: 100;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  dislpay: none; }

.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 8%;
  background-color: #484c55;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.bt-menu-trigger span:before, .bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #484c55;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.bt-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%); }

.bt-menu-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%); }

.bt-menu-open .bt-menu-trigger span:before {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%); }

.bt-menu-open .bt-menu-trigger span:after {
  -webkit-transform: translateY(300%);
  transform: translateY(300%); }

.bt-menu ul {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none; }

.bt-menu ul:first-of-type {
  top: 95px;
  right: 0; }

.bt-menu ul:nth-of-type(2) {
  right: 0;
  bottom: 0;
  padding-bottom: 10px; }

.bt-menu ul li,
.bt-menu ul li a {
  display: block; }

.bt-menu ul:nth-of-type(2) li {
  float: left;
  font-size: 0px; }

.bt-menu ul li {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s; }

.bt-menu.bt-menu-open ul {
  display: block;
  z-index: 1; }

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
  transition: transform 0.3s, opacity 0.3s; }

/* First menu */
.bt-menu ul:first-of-type li {
  width: 190px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: translate3d(-100%, 50%, 0);
  transform: translate3d(-100%, 50%, 0); }

.bt-menu.bt-menu-open ul:first-of-type li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
  width: 60px;
  height: 50px;
  line-height: 50px;
  -webkit-transform: scale(0);
  transform: scale(0); }

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
  -webkit-transform: scale(1);
  transform: scale(1); }

.bt-menu ul li a {
  display: block;
  outline: none;
  text-decoration: none; }

.bt-menu ul:first-of-type li a {
  padding: 0 20px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  transition: 0.6s; }

.bt-menu ul:first-of-type li:last-child a {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 -1px rgba(0, 0, 0, 0.2); }

.bt-menu ul:nth-of-type(2) li a {
  color: #fff;
  text-align: center;
  font-size: 24px; }

.bt-menu ul li a:before {
  color: #fff;
  font-size: 24px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.bt-menu .fa:hover {
  color: #fafafa;
  font-size: 30px; }

.bt-menu ul:first-of-type li a:hover, .bt-menu ul:first-of-type li a:focus, .bt-menu ul li a:hover:before, .bt-menu ul li a:focus:before {
  color: #29323c;
  background-color: #fff; }

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.bt-menu ul:nth-of-type(2) li:first-of-type {
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  margin-right: 40vw;
  margin-bottom: 0;
  font-size: 10px;
  color: #fff; }

/*Menu end*/
.content_head {
  text-align: center;
  color: #e8e8e8;
  width: 640px;
  margin: 0 auto;
  padding-top: 265px; }
  .content_head h1 {
    font-family: "mon-bold";
    font-size: 36px; }
  .content_head p {
    font-size: 17px;
    font-family: "OpenSans-Light";
    margin-bottom: 35px; }
  .content_head a {
    font-family: "mon-bold";
    font-size: 13px;
    color: #e8e8e8;
    padding: 16px 25px;
    border: 1px solid #e8e8e8;
    border-radius: 25px; }
  .content_head .arrow a {
    display: flex;
    margin: 0 auto;
    margin-top: 145px;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #e8e8e8;
    border-radius: 50%; }
    .content_head .arrow a .fa {
      font-size: 16px;
      position: absolute; }
  .content_head a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #484c55; }
  .content_head .arrow:after {
    display: block;
    content: " ";
    margin: 0 auto;
    width: 1px;
    height: 45px;
    background-color: #e8e8e8; }

.services {
  background-color: #f5f5f5;
  height: 570px;
  width: 100%; }

.caption {
  text-align: center;
  display: block;
  width: 420px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #29323c; }
  .caption h2 {
    font-size: 26px;
    font-family: "OpenSans-Extrabold";
    text-transform: uppercase;
    margin: 0; }
  .caption span {
    font-size: 14px; }
  .caption span:after {
    display: block;
    content: "";
    margin: 0 auto;
    width: 45px;
    height: 1px;
    background-color: #29323c;
    margin-top: 20px; }

.serveces-element {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto; }

.serveces-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: radial-gradient(circle, #485563, #29323c);
  margin: 0 auto; }
  .serveces-item-img .fa {
    color: #fff;
    font-size: 40px; }

.works__items {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

.img__items {
  height: 100%;
  width: 100%; }

.clients {
  width: auto;
  height: 620px; }

.quote, .quote-slider div {
  text-align: center; }
  .quote p, .quote-slider div p {
    font-size: 16px;
    color: #2b3746; }
  .quote p:after, .quote-slider div p:after {
    content: '"';
    color: #2b3746;
    display: block;
    font-size: 40px;
    font-family: "mon-bold"; }
  .quote h4, .quote-slider div h4 {
    font-family: "mon-bold";
    font-size: 13px;
    color: #29323c;
    font-weight: 600;
    margin: 0;
    padding: 0; }
  .quote span, .quote-slider div span {
    font-size: 13px;
    color: #29323c;
    font-family: "OpenSans-Light"; }
  .quote img, .quote-slider div img {
    margin: 0 auto; }

.team {
  background: url("../img/team-bg.png") no-repeat center top;
  width: 100%;
  height: 900px; }
  .team .caption {
    color: #f2f2f2; }
    .team .caption span:after {
      background-color: #f2f2f2; }

.team-items {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-self: stretch; }

.team__items {
  width: 270px;
  height: 410px;
  background-color: #c4c9cc;
  color: #29323c;
  position: relative; }
  .team__items h5 {
    font-size: 15px;
    font-family: "mon-bold";
    margin: 0;
    padding: 0; }
  .team__items .team-social {
    display: flex;
    align-items: center;
    justify-content: center; }
    .team__items .team-social .fa {
      margin-top: 20px;
      margin-right: 10px;
      color: #29323c;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 50%; }
    .team__items .team-social .fa-dribbble, .team__items .team-social .fa-envelope {
      font-size: 23px; }
    .team__items .team-social .circle-fa {
      background-color: #29323c;
      color: #c4c9cc; }
    .team__items .team-social .fa:hover {
      color: #c4c9cc;
      background-color: #29323c; }
    .team__items .team-social .circle-fa:hover {
      color: #29323c;
      background-color: #c4c9cc;
      border: 1px solid #29323c; }
  .team__items .text_hover h4:after {
    display: block;
    content: "";
    margin: 0 auto;
    width: 45px;
    height: 2px;
    background-color: #f2f2f2;
    margin-top: 15px; }

.hover_img {
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #29323c; }
  .hover_img .text_hover {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    color: #f2f2f2;
    transition: .5s ease;
    min-width: 120px; }
    .hover_img .text_hover h5, .hover_img .text_hover span {
      padding: 0;
      margin: 0; }
    .hover_img .text_hover h5 {
      font-size: 15;
      font-family: "mon-bold"; }
    .hover_img .text_hover span {
      font-size: 13;
      font-family: "mon-reg"; }
  .hover_img img {
    width: 100%;
    min-width: 120px;
    height: auto;
    display: block;
    opacity: 1;
    transition: .5s ease; }

.hover_img:hover .text_hover {
  opacity: 1;
  z-index: 1; }

.hover_img:hover img {
  opacity: 0.4; }

.btn-btn {
  margin-top: 100px;
  text-align: center; }

.btn {
  font-family: "mon-bold";
  font-size: 13px;
  color: #e8e8e8;
  padding: 16px 25px;
  border: 1px solid #e8e8e8;
  border-radius: 25px; }

.btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #484c55; }

.clients-sp {
  height: 125px;
  width: auto;
  background-color: #f5f5f5; }
  .clients-sp .clients-items {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center; }
    .clients-sp .clients-items .clients-items-img {
      width: auto;
      height: auto;
      margin-top: 20px; }

.pricing {
  height: 900px;
  width: auto; }
  .pricing .pricing-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    color: #485563;
    text-align: center;
    align-items: flex-end; }
  .pricing li {
    list-style: none;
    font-size: 14px;
    color: #29323c; }
  .pricing h2, .pricing h4 {
    margin: 0; }
  .pricing h2 {
    font-size: 45px;
    font-family: "mon-reg"; }
  .pricing h4 {
    margin-top: 20px;
    font-size: 20px;
    font-family: "mon-bold"; }
  .pricing .pricing__item {
    margin-top: 70px;
    height: 500px;
    border: 1px solid #eeeeee; }
    .pricing .pricing__item span {
      font-size: 14px;
      color: #29323c;
      font-family: "OpenSans-Light"; }
    .pricing .pricing__item span:after {
      display: block;
      content: "";
      background-color: #eee;
      margin-top: 30px;
      height: 1px;
      width: 100%; }
  .pricing .pricing__item:last-child {
    border-left: none; }
  .pricing .pricing__item:first-child {
    border-right: none; }
  .pricing .pricing__item:nth-child(2) {
    width: auto;
    height: 535px;
    border-top: 4px solid #485563;
    color: #29323c; }
    .pricing .pricing__item:nth-child(2) h4 {
      margin-top: 52px; }

.pricing__item ul {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center; }
  .pricing__item ul li {
    color: #29323c;
    font-weight: bold;
    margin-top: 15px;
    font-family: "OpenSans"; }

.pricing__item a {
  font-size: 13px;
  font-family: "mon-bold";
  font-weight: bold;
  padding: 12px 32px;
  background-color: #485563;
  color: #e8e8e8;
  border-radius: 32px; }

.pricing__item a:hover {
  background-color: #e8e8e8;
  color: #485563;
  border: 1px solid  #485563;
  transition: 0.3s; }

footer {
  width: 100%;
  height: 770px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 120px;
  background-color: #f5f5f5; }
  footer #map {
    height: auto;
    width: auto; }
  footer form {
    height: auto;
    width: auto;
    background: url("../img/footer.png") no-repeat center top;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "mon-reg";
    color: #f6f6f6;
    font-size: 14px; }
    footer form .inputt {
      width: 410px;
      height: 425px;
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-template-rows: 1fr 1fr 1fr 3fr;
      grid-gap: 25px 50px; }
      footer form .inputt input, footer form .inputt textarea {
        border-radius: 2px;
        border: 1px solid 	#f6f6f6;
        background-color: rgba(255, 255, 255, 0.01); }
    footer form span {
      align-self: center; }
  footer .submit {
    justify-self: end; }
    footer .submit a {
      border-radius: 2px;
      display: block;
      border: 1px solid 	#f6f6f6;
      background-color: rgba(255, 255, 255, 0.01);
      font-family: "mon-bold";
      color: #f6f6f6;
      font-size: 14px;
      padding: 15px 30px;
      transition: 0.4s; }
    footer .submit a:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  footer .foter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29323c; }
    footer .foter h2 {
      margin: 0;
      padding: 0;
      font-family: "airbag";
      font-size: 48px;
      text-transform: uppercase; }
    footer .foter span {
      font-family: "OpenSans";
      font-size: 14px;
      margin-left: 50px; }
  footer .social-foter {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .social-foter span {
      font-family: "OpenSans";
      font-size: 14px;
      margin-right: 50px;
      color: #29323c; }
    footer .social-foter .fa {
      color: #29323c;
      font-size: 16px;
      margin-left: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      transition: 0.4s; }
    footer .social-foter .fa-dribbble {
      font-size: 23px; }
    footer .social-foter .circle-fa {
      background-color: #29323c;
      color: #c4c9cc; }
    footer .social-foter .fa:hover {
      color: #c4c9cc;
      background-color: #29323c; }
    footer .social-foter .circle-fa:hover {
      color: #29323c;
      background-color: #f5f5f5;
      border: 1px solid #29323c; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media (max-width: 1200px) {
  .team__items {
    width: 220px;
    height: 350px; } }

/* Medium Devices, Desktops */
@media (max-width: 992px) {
  .team__items {
    width: 180px;
    height: 300px; }
    .team__items .team-social .fa {
      font-size: 12px;
      width: 24px;
      height: 24px; }
    .team__items .team-social .fa-dribbble, .team__items .team-social .fa-envelope {
      font-size: 19px; }
  .team {
    height: 750px; } }

/* Small Devices, Tablets */
@media (max-width: 768px) {
  .serveces-element p {
    font-size: 13px; }
  .quote p, .quote-slider div p {
    font-size: 14px; }
  .text_hover h5 {
    font-size: 13px; }
  .text_hover span {
    font-size: 11px; }
  .team {
    height: 650px; }
  .pricing-items li {
    font-size: 12px; }
  .pricing-items h2 {
    font-size: 41px; }
  .pricing-items h4 {
    font-size: 17px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .banner {
    width: auto;
    background: url("../img/head-bg.png") no-repeat center top;
    background-size: auto 100%; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
